{% extends 'base.html' %}

{% block page-styles %}{% endblock page-styles %}

{% block page-navigation %}
    {% include 'snippets/navigation.html' with active='none' %}
{% endblock page-navigation %}

{% block page-content %}
    <div class="center-middle">
        <h1>Welcome to Bottle Battle</h1>
        {% if user.is_authenticated %}
            <a id="feed_button" class="btn btn-large btn-primary" href="{% url 'app:home' %}">Continue to App</a>
        {% else %}
            <a id="log_in_button" class="btn btn-large btn-primary" href="{% url 'log_in' %}">Log in</a>
            <a id="sign_up_button" class="btn btn-large btn-primary" href="{% url 'sign_up' %}">Sign up</a>
        {% endif %}
    </div>
{% endblock page-content %}