{% extends 'base.html' %}

{% block page-styles %}{% endblock page-styles %}

{% block page-navigation %}
    {% include 'snippets/navigation.html' with active='none' %}
{% endblock page-navigation %}

{% block page-content %}
    <div class="center-middle">
        <h1>Bottle Battle</h1>
        <a id="host_button" class="btn btn-large btn-primary" href="{% url 'app:new_event' %}">Host event</a>
        <a id="join_button" class="btn btn-large btn-primary" href="{% url 'app:event' %}">Join event</a>
    </div>
{% endblock page-content %}